<html>
  <head>
    <style>
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/images/chat-background.jpg");
  background-size: cover;
}
			.chat {
			  width: 900px;
			  max-width: 80%;
			  height: 300px;
			  max-height: 50%;
			  background-color: orange;
			}
			.messagebox {
			  width: 900px;
			  max-width: 80%;
			  height: 100px;
			  max-height: 20%;
			  background-color: green;
			}
			#newmsg {
			  height: 100%;
			  width: 100%;
			  position: relative;
			}


    </style>

  </head>
  <body>
    <div class="chat"> 
      <div id="msgs"> </div>
    </div>

    <div class="messagebox"> 
      <textarea id="newmsg"> </textarea>
    </div>



    <script>
      const user = "<%= username %>"
      const ws = new WebSocket('ws://<%= process.env.BACKEND_URL %>');

      const newMsg = document.getElementById("newmsg");
      const msgs = document.getElementById("msgs");

      newMsg.focus();

      newMsg.addEventListener("keypress", function(e) {
	if (e.key == "Enter") {
	  ws.send(user + ' ' + newMsg.value);
	  e.preventDefault();
	  newMsg.value = '';
	}
      });

      ws.onerror = console.error;

      ws.onopen = () => {
	ws.send(user + ' client connected');
      };

      ws.onclose = (event) => {
	console.log("closed", event.code, event.reason);
      }

      ws.onmessage = (data) =>  {
	const tmp = document.createElement("div");
	tmp.innerHTML = data.data;
	msgs.appendChild(tmp);
	console.log('received: %s', data);
      };
    </script>
  </body>
</html>
