<!DOCTYPE html>
<html>
  <head>
    <style>



body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
  height: 100vh;
}

.container {
  padding: 2rem;
  max-width: 60%;
  width: 300px;
  border: 1px black solid;
  background-color: azure;
}


form {
  display: flex;
  flex-direction: column;
}

input, button {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 0;
  text-align: center;
}


    </style>

  </head>

  <body>
    <div class="container">
      <h2> Login </h2>
      <form action="/chat" method="post">
	<input type="text" name="username" 
			   placeholder="Enter username" 
			   required/>
	<button type="submit">Enter chat</button>
      </form>
    </div>
  </body>
</html>
